@model PelamarVM

@{
    ViewData["Title"] = "Data PJLP";
    ViewData["PageName"] = "data_pjlp";
    ViewData["Category1"] = "Pelamar";
    ViewBag.Category = "Pelamar";
    ViewBag.Title = "Berkas";
}

@section styles {    
    <link rel="stylesheet" href="~/lib/sweetalert/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />       
    <script defer src="~/js/alpine.min.js"></script>    
    <link rel="stylesheet" href="~/css/addon.css" />
    <link rel="stylesheet" href="~/css/chkimage.css" />
}

<div x-data="{edit: false}">
    <div class="row">
        <input id="myIsNew" type="hidden" value="@Model.Pelamar.IsNew" />
        <div class="col-lg-12 mb-4" x-show="!edit">
            <button type="button" class="btn btn-primary" x-on:click="edit = !edit">Tambah / Update File</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-none" :class="edit ? 'd-block' : 'd-none'" x-show="edit" x-transition:enter x-transition:leave>
            <div class="panel">
                @{
                    bool myNew = (bool)Model.Pelamar.IsNew!;
                }
                <input type="hidden" id="jabatan-elu" asp-for="Pelamar.JabatanId" style="display: none;" />
                <input type="hidden" id="gueBaruApaKagak" value="@myNew.ToString().ToLower()" />
                <div class="panel-hdr bg-primary-700 bg-danger-gradient" role="heading">
                    <h2>Tambah / Ubah File</h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form method="post" id="UploadUser" action="/pelamar/files/upload" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Pelamar.PelamarId" style="display:none;" />
                            <input type="hidden" id="typeName" asp-for="Upload!.TypeName" style="display:none;" />
                            <div class="form-group">
                                <label for="">Jenis File</label>
                                <select id="sFileWajib" asp-for="Upload!.PersyaratanID" class="form-control" style="width:100%;">
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="fileUpload" class="form-label">Pilih File</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" asp-for="Upload!.TheFile" class="custom-file-input" id="filePilih" accept="application/pdf, image/*" aria-describedby="fileUploadAddon" required />
                                        <label for="fileUpload" class="custom-file-label"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="text-right">
                                    <button class="btn btn-danger" x-on:click="edit = false">Tutup</button>
                                    <button class="btn btn-primary">Tambah / Update File</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" :class="edit ? 'col-md-8' : 'col-md-12'">
            <div class="row" id="AllFiles">
                <!-- File -->
                @foreach (var p in Model.Files!)
                {
                    string fullPath = p.FileExtension.ToLower() == ".pdf" ? "/img/pdf.jpg" : p.FilePath + "/" + p.FileName;
                    string fileid = "File-" + p.FilePelamarID;
                    <div id="@fileid" class="col-lg-3" :class="edit ? 'col-lg-4' : 'col-lg-3'">
                        <div class="card mb-4">
                            <div class="card-header text-center bg-primary-500 bg-success-gradient">
                                <h5>@p.Persyaratan.NamaPersyaratan</h5>
                            </div>
                            <input type="checkbox" id="@p.FilePelamarID" class="myChk" name="Files" value="@p.FilePelamarID" />
                            <label for="@p.FilePelamarID" class="lblImage">
                                <img class="card-img-top" src="@fullPath" data-id="@p.FilePelamarID" alt="file" style="height: 250px;">
                            </label>
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <td>Tgl Upload</td>
                                        <td style="padding-left:5px;padding-right:5px;">:</td>
                                        <td>@p.CreatedAt</td>
                                    </tr>
                                </table>
                                <div class="text-center">
                                    <button class="btn btn-primary btnDownload" data-id="@p.FilePelamarID">Download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/pages/main/population.js"></script>
    <script src="~/pages/main/detailpelamar-1.0.2.js"></script>
    <script src="~/pages/main/uploaduser.js"></script>
}
