@model PelamarVM

@{
    ViewData["Title"] = "Data PJLP";
    ViewData["PageName"] = "data_pjlp";
    ViewData["Category1"] = "Pelamar";
    ViewBag.Category = "Pelamar";
    ViewBag.Title = "Berkas";
}

@section styles {    
    <link rel="stylesheet" href="~/lib/sweetalert/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />       
    <script defer src="~/js/alpine.min.js"></script>    
    <link rel="stylesheet" href="~/css/addon.css" />
    <link rel="stylesheet" href="~/css/chkimage.css" />
}

<div x-data="{edit: false}">
    <div class="row">
        <input id="myIsNew" type="hidden" value="@Model.Pelamar.IsNew" />        
    </div>
    <div class="row">        
        <div class="col-xs-12">
            <div class="row" id="AllFiles">
                <!-- File -->
                @foreach (var p in Model.Files!)
                {
                    string fullPath = p.FileExtension.ToLower() == ".pdf" ? "/img/pdf.jpg" : p.FilePath + "/" + p.FileName;
                    string fileid = "File-" + p.FilePelamarID;
                    <div id="@fileid" class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-header text-center bg-primary-500 bg-success-gradient">
                                <h5>@p.Persyaratan.NamaPersyaratan</h5>
                            </div>
                            <input type="checkbox" id="@p.FilePelamarID" class="myChk" name="Files" value="@p.FilePelamarID" />
                            <label for="@p.FilePelamarID" class="lblImage">
                                <img class="card-img-top" src="@fullPath" data-id="@p.FilePelamarID" alt="file" style="height: 250px;">
                            </label>
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <td>Tgl Upload</td>
                                        <td style="padding-left:5px;padding-right:5px;">:</td>
                                        <td>@p.CreatedAt</td>
                                    </tr>
                                </table>
                                <div class="text-center">
                                    <button class="btn btn-primary btnDownload" data-id="@p.FilePelamarID">Download</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
</div>
</div>

@section scripts {
    <script src="~/lib/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/pages/main/population.js"></script>
    <script src="~/pages/main/detailpelamar-1.0.1.js"></script>
    <script src="~/pages/main/uploaduser.js"></script>
}
