@model PelamarVM

@{
    ViewData["Title"] = "Data PJLP";
    ViewData["PageName"] = "data_pjlp";
    ViewData["Category1"] = "Pelamar";
    ViewBag.Category = "Pelamar";
    ViewBag.Title = "Overview";
}

@section styles {    
    <link rel="stylesheet" href="~/lib/sweetalert/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/css/formplugins/bootstrap-datepicker/bootstrap-datepicker.min.css" />    
    <script defer src="~/js/alpine.min.js"></script>    
    <link rel="stylesheet" href="~/css/addon.css" />
    />
}

<div x-data="{ modul: 1 }">
    <div class="row">
        <div class="col-sm-4 col-xl-4">
            <div class="p-3 bg-danger-400 rounded overflow-hidden position-relative text-white mb-g">
                <div class="">
                    <h3 class="display-4 d-block 1-h-n m-0 fw-500">
                        <span id="SudahUpload">@Model.TotalUploaded</span>
                        <small class="m-0 1-h-n">Total File Terupload</small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-xl-4">
            <div class="p-3 bg-primary-600 rounded overflow-hidden position-relative text-white mb-g">
                <div class="">
                    <h3 class="display-4 d-block 1-h-n m-0 fw-500">
                        <span id="BelumUpload">@Model.TotalNotUploaded</span>
                        <small class="m-0 1-h-n">Total File Belum Terupload</small>
                    </h3>
                </div>                
            </div>
        </div>
        <div class="col-sm-4 col-xl-4">
            <div class="p-3 bg-success-700 rounded overflow-hidden position-relative text-white mb-g">
                <div class="">
                    <h3 class="display-4 d-block 1-h-n m-0 fw-500">
                        <span id="StatusGue">@Model.Pelamar.StatusLamaran.NamaStatus</span>
                        <small class="m-0 1-h-n">Status Pendaftaran</small>
                    </h3>
                </div>
                <i class="fal fa-file position-absolute pos-right pos-bottom opacity-15 mb-n1" style="font-size: 6rem;"></i>
            </div>
        </div>
    </div>
    <div class="row" x-data="{edit : false}">
        <div class="col-md-3 col-sm-12">
            <div class="card" style="width:100%; margin-bottom:20px;">
                <div class="card-header violet-gradient d-flex align-items-center flex-wrap text-white">
                    @Model.Pelamar.Nama
                </div>
                @if (Model.PasFoto is not null)
                {
                    <img id="pas-foto" class="card-img-top" src='@Model.PasFoto' alt="Card image cap" style="min-height: 275px; max-height: 275px;">
                } else
                {
                    <img id="pas-foto" class="card-img-top" src='~/img/user.png' alt="Card image cap" style="min-height: 275px; max-height: 275px;">
                }

            </div>

            <ul class="nav-menu" style="margin-bottom:20px;">
                <li style="border-bottom:1px solid white">
                    <a x-on:click="modul = 1"
                            class="btn text-white btn-primary text-center" style="width:100%; height: 45px; font-size:14px;"
                            :class="modul == 1 ? 'violet-red' : ''">
                        Biodata
                    </a>
                </li>
                <li style="border-bottom:1px solid white">
                    <a x-on:click="modul = 2"
                            class="text-white btn-primary" style="width:100%; height: 45px; font-size:14px;"
                            :class="modul == 2 ? 'violet-red' : ''">
                        Alamat
                    </a>
                </li>
                <li style="border-bottom:1px solid white">
                    <a x-on:click="modul = 3"
                            class="text-white btn-primary" style="width:100%; height: 45px; font-size:14px;"
                            :class="modul == 3 ? 'violet-red' : 'btn-primary'">
                        Lainnya
                    </a>
                </li>
                <li style="border-bottom:1px solid white">
                    <a asp-action="PrintBukti" asp-controller="Pendaftaran" target="_blank" class="text-white btn-primary waves-effect waves-themed"
                        style="cursor:pointer;text-decoration:none !important;">Print Bukti Pendaftaran
                    </a>
                </li>
            </ul>
            <div class="row mb-3">                
                <div class="col-md-6">
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <div x-show="modul == 1" x-transition>
                        <partial name="~/Views/Pendaftaran/Biodata.cshtml" />
                    </div>
                    <div x-show="modul == 2" x-transition>
                        <div class="d-none" :class="modul == 2 ? 'd-block' : 'd-none'">
                            <partial name="~/Views/Pendaftaran/Alamat.cshtml" />
                        </div>
                    </div>
                    <div x-show="modul == 3" x-transition>
                        <div class="d-none" :class="modul == 3 ? 'd-block' : 'd-none'">
                            <partial name="~/Views/Pendaftaran/Lainnya.cshtml" />
                        </div>
                    </div>
                    <div x-show="modul == 4" x-transition>
                        <div class="d-none" :class="modul == 4 ? 'd-block' : 'd-none'">
                            @*<partial name="~/Views/Main/Pegawai/PJLP/Files.cshtml" />*@
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/formplugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/pages/main/population.js"></script>
    <script src="~/pages/main/detailpelamar-1.0.2.js"></script>
}

