@model PelamarVM

<div>
    <form id="formAlamat" class="formdata" action="/pelamar/alamat/update" method="post">
        <input type="hidden" asp-for="Pelamar.PelamarId" />
        <!-- Alamat KTP -->
        <div class="panel">
            <div class="panel-hdr green-gradient " role="heading">
                <h2 class="text-white">Alamat Berdasarkan KTP</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="All"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Provinsi</label>
                                <select id="sProvKTP" class="form-control myselect" style="width: 100%;" required>
                                    @if (Model.Provinsi is not null)
                                    {
                                        <option value="@Model.ProvID" selected>@Model.Provinsi</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="sKabKTP">Kota/Kabupaten</label>
                                <select id="sKabKTP" class="form-control myselect" style="width: 100%;" required>
                                    @if (Model.Kabupaten is not null)
                                    {
                                        <option value="@Model.KabID" selected>@Model.Kabupaten</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="kecamatan">Kecamatan</label>
                                <select id="sKecKTP" class="form-control myselect" style="width: 100%;" required>
                                    @if (Model.Kecamatan is not null)
                                    {
                                        <option value="@Model.KecID">@Model.Kecamatan</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="kelurahan">Kelurahan</label>
                                    <select id="sKelKTP" asp-for="Pelamar.KelurahanId" class="form-control myselect" style="width: 100%;" required>
                                        @if (Model.Kelurahan is not null)
                                        {
                                            <option value="@Model.Pelamar.KelurahanId" selected>@Model.Kelurahan</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alamat">Alamat</label>
                        <input asp-for="Pelamar.Alamat" class="form-control" />
                    </div>
                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="rt">RT</label>
                                    <input asp-for="Pelamar.RT" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="rw">RW</label>
                                    <input asp-for="Pelamar.RW" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="kode-pos">Kode Pos</label>
                                    <input asp-for="Pelamar.KodePos" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                @if (Model.AddressIsSame)
                                {
                                    <input id="chkSame" asp-for="AddressIsSame" class="form-check-input chkAlamat" type="checkbox" checked />
                                }
                                else
                                {
                                    <input id="chkSame" asp-for="AddressIsSame" class="form-check-input chkAlamat" type="checkbox" />
                                }
                                <label class="form-check-label lblAlamat" for="chkSame">Alamat domisili sama dengan alamat KTP</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Alamat Domisili -->
        <div class="panel" id="domisili" style="display:none;">
            <div class="panel-hdr green-gradient " role="heading">
                <h2 class="text-white">Alamat Domisili</h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label for="provinsi_dom">Provinsi</label>
                                <select id="sProvDom" class="form-control myselect" style="width: 100%;">
                                    @if (Model.ProvinsiDom is not null)
                                    {
                                        <option value="@Model.ProvDomID" selected>@Model.ProvinsiDom</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6 mb-3" e>
                                <label for="kota_dom">Kota/Kabupaten</label>
                                <select id="sKabDom" class="form-control myselect" style="width: 100%;">
                                    @if (Model.KabupatenDom is not null)
                                    {
                                        <option value="@Model.KabDomID" selected>@Model.KabupatenDom</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="kecamatan_dom">Kecamatan</label>
                                <select id="sKecDom" class="form-control myselect" style="width: 100%;">
                                    @if (Model.KecamatanDom is not null)
                                    {
                                        <option value="@Model.KecDomID" selected>@Model.KecamatanDom</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="kelurahan_dom">Kelurahan</label>
                                    <select id="sKelDom" asp-for="Pelamar.DomKelurahanId" class="form-control myselect" style="width: 100%;">
                                        @if (Model.KelurahanDom is not null)
                                        {
                                            <option value="@Model.Pelamar.DomKelurahanId" selected>@Model.KelurahanDom</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="alamat_dom">Alamat Domisili</label>
                        <input type="text" asp-for="Pelamar.DomAlamat" class="form-control domfield" />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="rt_dom">RT</label>
                                    <input type="text" asp-for="Pelamar.DomRT" class="form-control domfield" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="rw_dom">RW</label>
                                    <input type="text" asp-for="Pelamar.DomRW" class="form-control domfield" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="kode-pos">Kode Pos</label>
                                    <input asp-for="Pelamar.DomKodePos" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Update Alamat</button>
            </div>
        </div>
    </form>
</div>

